<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title | remove: "| Blog" }}</a>

        <ul class="menu">            
            <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}" title="Home Page">Blog</a></li>
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}" title="About Me">About</a></li>
            <li class="menu__entry"><a href="https://ai.califax.host" title="AI APIs">AI APIs</a></li>
            <li class="menu__entry"><a href="{{ '/privacy' | prepend: site.baseurl }}" title="Cookie & Privacy Policy">Privacy</a></li>
            <li class="menu__entry"><a href="{{ '/tnc' | prepend: site.baseurl }}" title="Terms & Conditions">Terms</a></li>
        </ul>
    </div>

    <ul class="social-links">
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" title="GitHub Profile" class="social-links__entry" target="_blank" rel="noreferrer">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" title="Twitter Profile" class="social-links__entry" target="_blank" rel="noreferrer">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
        <a href="https://www.dmca.com/Protection/Status.aspx?ID=d21a20f9-3017-46ac-8def-83ab22b4c0e1" title="DMCA.com Protection Status" class="social-links__entry dmca-badge">
                <i class="fa fa-copyright"></i>
                <img src ="#"  alt="DMCA.com Protection Status" width="100" height="20" style="display: none;"/>
            </a>
    </ul>
</header>
