<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>

        <ul class="menu">            
            <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">Blog</a></li>
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            <li class="menu__entry"><a href="{{ '/privacy' | prepend: site.baseurl }}">Privacy</a></li>
            <li class="menu__entry"><a href="{{ '/tnc' | prepend: site.baseurl }}">Terms</a></li>
        </ul>
    </div>

    <ul class="social-links">
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
        <a href="https://www.dmca.com/Protection/Status.aspx?ID=d21a20f9-3017-46ac-8def-83ab22b4c0e1" class="dmca-badge" target="_blank">
                <i class="fa fa-copyright"></i>
            </a>
        <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-08.png?ID=d21a20f9-3017-46ac-8def-83ab22b4c0e1"  alt="DMCA.com Protection Status" style="display: none;"/></a>
    </ul>
</header>
